#texto-fonte-root{
font-size: 3rem;
}

#texto-paddings-verticais{
    border: 1px solid violet;
    padding-top: 2em;
    padding-bottom: 2em;

}

#altura-porcentagem-comprimento{
    border: 1px solid brown;
    height: 20vw;

}

#comprimento-metade-altura{
    border: 1px solid rgb(42, 165, 58);
    width: 50vh;
}

.container{
    border: 1px solid black;
    width: 400px;
    font-size: 20px;
}
.container ul{
    /* font-size: 100px; */
    height: 100px;
}

#fonte-setenta{
    font-size: 0.7em;

}

#comprimento-pai{
    border: 1px solid blue;
    width: 10%;


}

#altura-pai{
    border: 1px solid rgba(255, 0, 21, 0.856);
    height: 10%;
}