.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 200px 200px; */
}

.grid-item{
    border: 1px solid black;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* display: grid;
    place-items: center; */

}

@media screen and (max-device-width : 480px) {
    /* celulares */

   .grid-container{
       /*---- solução com grid -----*/
       grid-template-columns: 1fr;

       /* ----solução com block ----*/
        /* display: block; */

        /* ----solução com flex----- */
        /* display: flex;
        flex-direction: column; */
    }

   .grid-item{
       color: red;
       height: 100px;
       align-items: flex-start;

   }

    }
    